
@media (min-width: 990px) {
    .d-flex {
        width: 1000px; 
    }
}

.logo:hover{
    color: gainsboro;
    cursor: pointer;
}
*{
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    position: fixed;
    width: 100%;
}

.content{
 padding-top: 50px;
}

.adminDash{
 padding-top: 14px;
}

#welcome{
    color: white;
}
